/* Resetando alguns estilos primeiramente */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Joga todo o conteúdo para o centro */
}

.instagram-wrapper {
    display: flex; /* Display flex ( alinha os items em linha ) */
    align-items: center; /* Faz o alinhamento vertical dos itens ( eixo y )  */
    /*justify-content: center;  Faz o alinhamento horizontal dos itens ( eixo x )  */

    justify-content: start; /* começar da esquerda para direita */
    width: 60%;
    height: 100vh;
}

.btn-theme{
    position: absolute;
    width: 100%;
    height: 100%;
}

.btn-dark{
    position: relative;
    left: 70%;
    border: none;
    background-color: rgb(119, 118, 118);
    cursor: pointer;
    padding: 0.8rem;
    color: white;
}

.btn-dark:focus{
    outline: none;
}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone img {
    height: 50rem;
}

.instagram-continue{
    display: flex;
    align-items: center;
    justify-content: space-around; /* horizontal */
    flex-direction: column; /* Faz com que um fique em baixo do outro ( mudamos o eixo para coluna )*/
    width: 50%;
    min-height: 34rem;
}

.group {
    display: flex;
    justify-content: space-between; /* vertical */
    align-items: center; /* horizontal */
    flex-direction: column; /* modifica o justify-content e o align-items */
    background-color: #ffffff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

.group:nth-child(1){ /* Seletor de css que pega os filhos daquele elemento (como se a classe grupo fosse um vetor ) */
    min-height: 19rem;
}

.instagram-logo {
    height: 3rem;
}

.profile-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden; /* Esconde tudo oque for saltar para fora da Div */
}

.profile-photo img{
    height: 6rem;
}

.instagram-login{
    background-color: #0095f6;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
}

.instagram-logout {
    color: #0095f6;
    margin-top: 1rem;

}

.not-account {
    color: rgb(160 , 160, 160);
}

.link-blue {
    color: #0095f6;
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    margin-top: 3rem;
}

.app-download {
    height: 4rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1){
    background-image: url('./img/Botao-Download-App-Store.png');
}

.app-download:nth-child(2){
    background-image: url('./img/Botao-Download-Google-play.png')
}

/* Tratamento de responsividade */

/*  Media Queries */

@media (max-width: 1024px){
    .instagram-wrapper{
        width: 90%;
    }
}

@media (max-width: 650px){
    body{
        background-color: white;
    }

    .instagram-wrapper{
        width: 90%;
    }

    .instagram-phone{
        display: none;
    }

    .instagram-continue{
        width: 100%;
    }

    .group{
        border: 1px solid transparent;
    }

}